.intro-video-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: black; */
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
